

.footer {
    background: #100f0f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 10%;
    width: 100%;
}

#div-1, #div-2{
    width: 50%;
}

#cover{
    height: 300px;
    border-radius: 50px;
}

.custom-line {
    border: 0;
    height: 2px;
    width: 80%;
    background: #0c0c0c;
    margin: 40px auto;
    border-style: dotted;
}

#carousel-img{
    width: 100%;
}

#carouselExampleDark{
    width: 70%;
    margin: auto;
}